<main>
 <fieldset>
   <legend>
     Log In
   </legend>
   <form action="/auth/login" method="POST">
    <div class="row">
      <label class='middle' for="auth-email">Email: </label>
      <input id="auth-email" type="email" name="email">
    </div>
    <div class="row">
      <label class='middle' for="auth-password">Password: </label>
      <input id="auth-password" type="password" name="password">
    </div>
    <button type="submit">
      Submit
    </button>
  </form>
 </fieldset>
</main>

