<% if (alerts.error) { %>
    <div id='alert-container-error'>
    <% alerts.error.forEach(msg => { %>
       <p id='alert'> <%= msg %> </p>
    <% }) %>
    </div>
<% } %>

<% if (alerts.success) { %>
    <div id='alert-container-success'>
    <% alerts.success.forEach(msg => { %>
        <p id='alert'> <%= msg %> </p>
        <% }) %>
    </div>
<% } %>
