<div id="home">
    <article>
        <% if (user) { %>
            <h2>Start By Naming Your Recipe, Then Look For Ingredients To Add</h2>
            <fieldset>
                <legend>
                    Recipe Name
                </legend>
                <form id="lunchForm" action="/" method="POST">
                    <label for="lunch-name">What Do You Want To Call This Recipe?</label>
                    <input type="text" name="name">
                    <input type="hidden" name="userId" id="userId" value="<%= user.dataValues.id %>">
                    <button type="submit">Submit</button>
                </form>
            </fieldset>
        <fieldset>
            <legend>
                Ingredient Search
            </legend>
            <form action="food/results" method= "POST">
                <label for="Search">Search For An Ingredient To Add To Your Meal:</label>
                <input type="search" name="description">
                <button type="submit">Submit</button>
            </form>
        </fieldset>
        <% } else { %>
            <h1>Make recipes with ease by querying the USDA's food database!</h1>
        <% } %> 
    </article>
</div>
