<main>
    <article>
        <h2>
            What's in your <%= lunch.name %> recipe?
        </h2>

        <ul id="ingredientList">
            <% lunch.dataValues.food.forEach(lunch => { %>
            <li class="ejsLI">
                <%= lunch.description%>
            </li>
            <% }); %>
        </ul>
    </article>
</main>

