<main>
    <h2>What's in your recipe?
        </br>
        </br>
        <%= lunch.name %>
    </h2>
    <ul class="ejsUl">
        <% lunch.dataValues.food.forEach(lunch => { %>
        <li class="ejsLI">
            <%= lunch.description%>
        </li>
        <% }); %>
    </ul>
</main>

