* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  background-color: lavenderblush;
  color:steelblue;
  padding: 5px;
  border-radius: 5px;;
}

.imageLink {
  background-color:  cornflowerblue;
}
nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: chartreuse;
  text-align: center;
  letter-spacing: 2px;;
}

h2 {
  text-align: center;
}
.alert-container {
  width: 50vw;
  margin: 0 auto;
  border-radius: 10%;
  box-shadow:5px 10px slategrey;
}

.alert {
  margin: .25em;
  padding: .25em;
  background-color: black;
  opacity: .5;
  color: white;
}

.error {
  border: 3px solid crimson;
  background-color: salmon;
}

.success {
  border: 3px solid forestgreen;
  background-color: darkgreen;
}

img {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 5px; 
  border-color: black;
  border-radius: 25px;
  background-color: whitesmoke;
}

footer {
  border: 2px double black;
  background-color: cornflowerblue;
  color: whitesmoke;
  height: 150px;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  border: 2px double black;
  background-color: cornflowerblue;
  color: whitesmoke;
  padding: 0;
  margin: 0;
  height: 150px;
  width: 100%;
}

nav {
  border: solid 5px black;
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}
main {
  display:flex;
  flex-wrap: wrap;
  border-style: 2px solid black;
}

.foods {
  border-style: 2px solid black;
}

.column {
  float: left;
  padding: 10px;
  height: 200px;
}

.left {
  margin-top: 0px;
  width: 25%;
  text-align: left;
  border:solid 2px cornsilk;
  border-radius: 20px;;
  height: 130px;
}

.right {
  width: 75%;
  text-align: right;
  border:solid 2px cornsilk;
  border-radius: 20px;;
  height: 130px;
}

#bannerId {
  display: inline-block;
  left: 0px;
  letter-spacing: 2px;
  padding: 0px 200px 0px 0px;
  margin: 10px;
  border-right: dotted 5px black;
  text-align: left;
}

#bannerTitle {
  margin: 0 ;
  padding: 0;
  height: 25px;
  letter-spacing: 3px;
}

#navList {
  padding: 0;
  margin: 0;
}

.navLi {
  padding-left: 20px;
  padding-right: 0;
}

