* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-clr: #1e2420;
  --secondary-clr: slategrey;
  --tertiary-clr: cornflowerblue;
  --fourth-clr: whitesmoke;
  --fifth-clr: cornsilk;

  --pad-mar-reg: 1rem;
  --pad-mar-lg: calc(--pad-mar-reg) * 1.5;
  --pad-mar-xl: calc(--pad-mar-reg) * 2;
  --pad-mar-sm: calc(--pad-mar-reg) * .75;
  --pad-mar-xs: calc(--pad-mar-reg) * .5;
}

a {
  text-decoration: none;
  color: var(--primary-clr);
  padding: var(--pad-mar-reg);
  border-radius: var(--pad-mar-reg); 
}

.alert-container {
  width: 50vw;
  border-radius: 10%;
  box-shadow:1rem 2rem var(--secondary-clr);
}

.alert {
  margin: var(--pad-mar-sm);
  padding: var(--pad-mar-sm);
  background-color: var(--primary-clr);
  opacity: .5;
  color: var(--fourth-clr);
}

article {
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: right;
  padding-left: var(--pad-mar-lg);
}

#bannerId {
  width:60%;
  letter-spacing: 2px;
  padding-bottom: var(--pad-mar-xl);
  margin: var(--pad-mar-reg);
  border-right: dotted 5px var(--primary-clr);
  text-decoration-line: underline;
  text-align: center;
  text-shadow: 1px 0 var(--primary-clr), -1px 0 var(--primary-clr), 0 1px var(--primary-clr), 0 -1px var(--primary-clr);
}

#bannerTitle {
  height: 25px;
  letter-spacing: 3px;
}

body {
  background-image: 
    linear-gradient( to bottom,rgba(0,0,0,.2), rgba(0,0,0,.2)),
    url('../Images/food_bowl_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

input {
  padding: var(--pad-mar-rg);

}

input:hover {
  background-color: var(--primary-clr);
  color: var(--fourth-clr);
  padding: var(--pad-mar-xl)
}

.column {
  float: left;
  padding: var(--pad-mar-reg);
  height: 200px;
  margin-top:var(--pad-mar-reg);
}

#deleteButton {
  border: none;
  width: 50%;
  height:auto;
}

.ejsUl {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: underline;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.ejsLi {
  list-style:none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
  margin: 3rem;
  height: auto;
  width: 100%;
}

.ejsLI {

  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin: 2rem;
  list-style: none;
}

.error {
  border: 3px solid crimson;
  background-color: salmon;
}

fieldset {
  margin: 3rem;
  padding: 1rem;
}
.foods {
  border-style: 2px solid var(--primary-clr);
}

#food {
  max-height: 70%;
  overflow-y: scroll;
}

footer {
  border: 2px double var(--primary-clr);
  background-image:radial-gradient(var(--tertiary-clr), var(--primary-clr));  color: var(--fourth-clr);
  position: relative;
  width: 100%;
  height: 25vh;
}

form {
  border: .1rem solid var(--primary-clr);
  padding: 1rem;
  background-color: var(--fifth-clr);
  background-blend-mode: lighten; 
  width: 100%;
  height:20vh;
}

h1 {
  color: chartreuse;
  text-align: center;
  letter-spacing: .5rem;
  text-shadow: 2px 2px var(--primary-clr);
}

h2 {
  text-align: center;
  width: 100%;
  letter-spacing: .2rem;
  text-shadow: 1px 0px var(--primary-clr), 0 1px var(--primary-clr), -1px 0 var(--primary-clr), 0 -1px var(--primary-clr);
  color:var(--fourth-clr);
  font-size: 2rem;
  padding: .2rem;
}

h3 {
  background-color: var(--fourth-clr);
  background-blend-mode: lighten;
  border-bottom: 2px solid var(--primary-clr);
  text-align: center;
  padding: .3rem;
}

header {
  text-align: center;
  border: 2px double var(--primary-clr);
  background-image:radial-gradient(var(--tertiary-clr), var(--primary-clr));
  color: var(--fourth-clr);
  height: 25vh;
  width: 100vw;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-content: center;
  padding: 2rem;
}

.imageLink {
  height:50px;
}

img {
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 5px; 
  border-color: var(--primary-clr);
  border-radius: 25px;
  background-color: var(--fourth-clr);
}

#ingBtn {
  margin: 1rem;
  background-color: var(--fifth-clr);
  background-blend-mode: lighten;
}

#ingredientList {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .5rem;
  margin: 1rem;
  background-color: var(--fifth-clr);
  background-blend-mode: lighten;
  text-overflow: clip;
  border: .1rem solid var(--primary-clr);
  box-shadow: .3rem .3rem .3rem .3rem var(--fourth-clr), .3rem -.3rem .3rem .3rem var(--fourth-clr), -.3rem .3rem .3rem .3rem var(--fourth-clr), -.3rem -.3rem .3rem .3rem var(--fourth-clr);
}

.left {
  margin-top: 10px;
  width: 25%;
  text-align: left;
  border:solid 2px var(--fifth-clr);
  border-radius: 30px 100px 100px 30px;
  height: 20vh;
}

legend {
  color: var(--primary-clr);
  background-color: var(--fifth-clr);
  font-size: x-large;
  padding: .5rem;
  box-shadow: .3rem .3rem .3rem .3rem var(--fourth-clr), .3rem -.3rem .3rem .3rem var(--fourth-clr), -.3rem .3rem .3rem .3rem var(--fourth-clr);
  border: 2px solid var(--primary-clr);
}

main {
  height:80vh;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: .5rem;
}

#menuAdd {
  height: auto;
  width:100%;
  border: none;
}

#menuDelete{
  height: auto;
  width:100%;
  margin: .5rem;
  padding: .5rem;
  border: none;
}

#menuList {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5rem;
    margin: 1rem;
    background-color: var(--fourth-clr);
    background-blend-mode: lighten;
    text-overflow: clip;
    border: .1rem solid var(--primary-clr);
    box-shadow: .3rem .3rem .3rem .3rem var(--fourth-clr), .3rem -.3rem .3rem .3rem var(--fourth-clr), -.3rem .3rem .3rem .3rem var(--fourth-clr), -.3rem -.3rem .3rem .3rem var(--fourth-clr);
}

nav {
  margin: var(--pad-mar-reg);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin: .2rem;
}

#navList {
  width: 100%;
}

.navLi > a {
  box-shadow: 7px 10px 5px var(--secondary-clr);
  background-color:var(--fourth-clr);
  border-radius: .3rem;
  transition:2s;
}

 .navLi > a:hover {
  background-color: var(--primary-clr);
  color: var(--fourth-clr);
}

#nutrientForm {
  border-style: none;
  margin: .1rem;
  height: auto;
  width: 100%;
}

.nutrientLi {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: .5rem;
  margin: 1rem;
  background-color: var(--fifth-clr);
  background-blend-mode: lighten;
  text-overflow: clip;
  border: .1rem solid var(--primary-clr);
  box-shadow: .3rem .3rem .3rem .3rem var(--fourth-clr), .3rem -.3rem .3rem .3rem var(--fourth-clr), -.3rem .3rem .3rem .3rem var(--fourth-clr), -.3rem -.3rem .3rem .3rem var(--fourth-clr);
}

p {
  text-align: center;
}

#recipeList {
  height:auto;
  background-color: var(--fifth-clr);
  border-radius: 1rem;
  border: .1rem solid var(--primary-clr);
  box-shadow: .3rem .3rem .3rem .3rem var(--fourth-clr), .3rem -.3rem .3rem .3rem var(--fourth-clr), -.3rem .3rem .3rem .3rem var(--fourth-clr), -.3rem -.3rem .3rem .3rem var(--fourth-clr);
}

#results {
  max-height: 75%;
  overflow-y: scroll;
}

.right {
  width: 75%;
  text-align: right;
  border:solid 2px var(--fifth-clr);
  border-radius: 100px 60px 60px 100px;
  height: 20vh;
}

select {
  padding: .2rem;
  margin-top: .5rem;
}
.success {
  border: 3px solid forestgreen;
  background-color: darkgreen;
}
